node_modules
.env
package-lock.json
envtext.txt
gen-lang-client-0783464579-548796d657ec.json
1745459455487-player-script.js
1745459455495-player-script.js
lavalink/logs/spring.log
lavalink/logs/spring.log.2025-04-16.0.gz
lavalink/plugins/lavasearch-plugin-1.0.0.jar
lavalink/plugins/lavasrc-plugin-4.6.0.jar
lavalink/plugins/youtube-plugin-1.12.0.jar
lavalink/Lavalink.jar
gen-lang-client-0783464579-73a337d212e1.json
